tbody>tr:nth-of-type(odd){
    background-color:rgba(0,0,0,0.05)
}

td{
    text-align: center;
}

th{
    font-size: 14px;
}

th,td{
    border-width: 1px;
    padding: 12px;
}

td:first-child{
    text-align: start;
}